<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.engim.svilupposw.profilemanagement">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".activities.ShowProfileActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".activities.EditProfileActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity android:name=".activities.ShowDataActivity">

        </activity>
        <activity android:name=".activities.EditDataActivity">

        </activity>
        <activity android:name=".activities.HomeActivity">

        </activity>
        <activity android:name=".activities.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- qui ci va l'intent main -->
        </activity>

        <!-- -> TENTATIVO DI MAP
        <activity
            android:name=".activities.MapActivity"
            android:label="@string/title_activity_map"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>
        -->

    </application>

</manifest>